.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
    background-color: red;
    color: #fff
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: blueviolet;
}

.container .central img{
    flex-grow: 5;
    width: 500px;
    height: 350px;
}

.container .l-e img{
    flex-grow: 1;
    background-color: aqua;
    height: 350px;
}

.container .l-d img{
    flex-grow: 1;
    background-color: rgb(60, 255, 86);
    height: 350px;
}